<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand nav-link" [routerLink]="['']">TravelApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['places']">Miejsca</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['signin']">Zaloguj sie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['signup']">Zarejestruj sie</a>
      </li>
    </ul>
  </div>
</nav>
